<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classes</title>
  <link rel="stylesheet" href="turmas-professor.component.css">
</head>
<body>
  <header></header>
  <main class="professor-turmas">
    <section class="bloco">
      <div class="voltar" alt="Voltar">
          <a href="./tela-professor/tela-professor.component.html"><img src="voltar-imagem.png"></a>
          <h3><p>Voltar</p></h3>
      </div>
        <div class="botao">
            <button>Atividades</button>
            <button>Alunos</button>
        </div>
        <div class="adicionar">
          <button>+ Adicionar</button>
        </div>
      </section>
  </main>
</body>
</html>
