<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Aluno</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header></header>
    <main class="alunohome">
        <section class="alunohome__caixaesquerda">
            <div class="atividades">
                <a href="/atividade/atividades.html"><img src="imagematividades.png"></a>
                <h1><strong>Ativideades</strong></h1>
            </div>
            <div class="ferramentas">
                <a href="/ferramentas/ferramentas.html"><img src="imagemferramentas.png"></a>
                <h1><strong>Ferramentas</strong></h1>
            </div>
        </section>
        <section class="alunohome__caixadireita">
            <div class="jogos">
                <a href="/jogos/jogos.html"><img src="imagemjogos.png"></a>
                <h1><strong>Jogos</strong></h1>
            </div>
            <div class="aluno">
                <a href="/alunoperfil/alunoperfil.html"><img src="imagemperfil.png"></a>
                <h1><strong>Aluno</strong></main></h1>
            </div>
        </section>
    </main>
</body>
<footer></footer>
</body>
</html>
