<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Aluno</title>
</head>
<body>
    <header></header>
    <main class="alunohome">
        <section class="alunohome__caixaesquerda">
            <a href="/atividade/atividades.html">
                <div class="atividades">
                <h1><strong>Atividades</strong></h1>
            </div>
            </a>
            
            <a routerLink="/ferramenta">
                <div class="ferramentas">
                <h1><strong>Ferramentas</strong></h1>
            </div>
            </a>

        </section>
        <section class="alunohome__caixadireita">
            <a href="/jogos/jogos.html">
                <div class="jogos">
                <h1><strong>Jogos</strong></h1>
            </div>
            </a>

            <a href="/alunoperfil/alunoperfil.html">
                <div class="aluno">
                <h1><strong>Aluno</strong></h1>
            </div>
            </a>
        </section>
    </main>
</body>
</html>
