<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogos</title>
</head>
<body>
  <app-header></app-header>
  <main class="professor-turmas">
    <div class="container">
        <div class="containerat">
            <div class="avoltar">
                <a routerLink="/tela-aluno" class="link-voltar"><img src="assets/imagens/voltar-cinza.png" alt="Voltar"></a>
            </div>
            <div class="titulo">
                <h1>Jogos</h1>
            </div>
        </div>     
        <section class="jogos-grid">
            <div class="jogo">
                <a href="/jogo" target="_blank">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo de adivinhação">
                    <h4>Jogo de adivinhação</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="/jogo-da-velha" target="_blank">
                    <img src="assets/imagens/jogodavelha.png" alt="Jogo da velha">
                    <h4>Jogo da velha</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 3</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 4</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 5</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 6</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 7</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 8</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 9</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 10</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 11</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 12</h4>
                </a>
            </div>
            <div class="jogo">
                <a href="jogo2.html">
                    <img src="assets/imagens/JogoDeAdivinhação.png" alt="Jogo 2">
                    <h4>Jogo 13</h4>
                </a>
            </div>
        </section>
    </div>
    
</main>

</body>
</html>