<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Professor</title>
</head>
<body>
  <header></header>
  <main class="professorhome">
    <div class="bloco">
      <section class="perfil">
        <div class="foto" alt="Foto de Perfil">
          <a href=" "><img src="assets/imagens/fotoexemplo.png" alt="Foto de Exemplo"></a>
        </div>
        <div class="infos">
          <h2 class="nomeprof"></h2>
          <div class="infotec">
            <p>Professor</p>
            <h3></h3>
            <label>Escola: </label>
            <h3></h3>
          </div>
          <div class="botao">
            <button>Configurar</button>
            <button>Sair</button>
          </div>
        </div>
      </section>
      <section class="turmas">
        <div class="lista-turmas-container">
          <!-- Lista de turmas -->
          <ul id="lista-turmas">
            <li *ngFor="let turma of listaTurmas" class="item-lista">
              <a [routerLink]="'/turmas-professor/' + turma.id">
                Turma: {{ turma.nome }} - Descrição: {{ turma.descricao }}
              </a>
            </li>
          </ul>
        </div>
        <div class="adicionar-button">
          <!-- Botão de adicionar -->
          <button (click)="abrirModal()">+ Adicionar</button>
        </div>
        <div id="modal" class="modal" *ngIf="modalAberto" (click)="fecharModalFora($event)">
          <div class="modal-content">
            <span class="close" (click)="fecharModal()">&times;</span>
            <h2>Adicionar Turma</h2>
            <input type="text" id="nomeTurma" placeholder="Nome da Turma">
            <textarea id="descricaoTurma" placeholder="Descrição da Turma"></textarea>
            <button (click)="adicionarTurma()">+ Adicionar</button>
          </div>
        </div>        
      </section>
    </div>
  </main>
</body>
</html>
