<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classes</title>
  <link rel="stylesheet" href="jogo.component.css">
</head>
<body>
  <app-header></app-header>
  <main class="professor-turmas">
    <section class="bloco">
      <div class="jogo container">
        <h1>Jogo de Adivinhação</h1>
        <h2>Adivinhe o número aleatório de 1 a 50!</h2>
        <br>
        <p>{{ result }}</p>
        <input type="number" [(ngModel)]="userGuess" placeholder="Digite seu palpite" />
        <div class="buttons">
          <button (click)="checkGuess()">Verificar</button>
          <button (click)="showAttempts()">Mostrar Tentativas</button>
          <button (click)="restartGame()">Novo Jogo</button>
        </div>
      </div>      
    </section>
  </main>
  
</body>
</html>