@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #e0dfdf;
    background-image:url(fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    display: flex;
}

body > * {
    grid-area: 1 / -1;
}

.bloco{
    background-color:#ffffff;
    align-content: left;
    width: 300px;
    height: 715px;
    border-right: 4px solid var(--preto, #000);
    display: grid;
}
.bloco > * {
    grid-area: 1 / -1;
}

.texto-lat{ 
    align-self: start;
    padding: 10% 0% 0% 10%;
    justify-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--preto, #000);
    font-family:"Roboto";
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 20px;
    gap: 15%
}