<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferramentas</title>
</head>
<body>
  <app-header></app-header>
  <main class="professor-turmas">
    <div class="container">        
        <div class="titulo">
            <h1>Ferramentas</h1>
        </div>  
        <section class="ferramentas-grid">
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Teclado musical</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 2</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 3</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 4</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 5</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 6</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 7</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 8</h4>
                </a>
            </div>
            <div class="ferramentas">
                <a href="/ferramenta" target="_blank">
                    <img src="assets/imagens/teclado.png" alt="Jogo 1">
                    <h4>Ferramenta 9</h4>
                </a>
            </div>
        </section>
    </div>
</main>
</body>
</html>