<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferramenta</title>
</head>
<body>
  <main class="ferramenta">
  <header></header>
  <section class="caixa">
    
  <div class="caixa-ferramenta">
    <div class="voltar" alt="Voltar">
        <a routerLink="/tela-aluno"><img src="assets/imagens/voltar-cinza.png"></a>
      </div>
    <h1>Ferramenta 1</h1>
    <div id="content">
      <div class="content-container">
          <ul>
              <li>
                  <span class="name">Dó</span>
                  <span class="white" data-key="q">Q</span>
                  <span class="namesus">Dó ♯<br>Ré ♭</span>
                  <span class="black" data-key="2">2</span>
              </li>
              <li>
                  <span class="name">Ré</span>
                  <span class="white" data-key="w">W</span>
                  <span class="namesus">Ré ♯<br>Mi ♭</span>
                  <span class="black" data-key="3">3</span>
              </li>
              <li>
                  <span class="name">Mi</span>
                  <span class="white" data-key="e">E</span>
              </li>
              <li>
                  <span class="name">Fá</span>
                  <span class="namesus">Fá ♯<br>Sol ♭</span>
                  <span class="white" data-key="r">R</span>
                  <span class="black" data-key="5">5</span>
              </li>
              <li>
                  <span class="name">Sol</span>
                  <span class="namesus">Sol ♯<br>Lá ♭</span>
                  <span class="white" data-key="t">T</span>
                  <span class="black" data-key="6">6</span>
              </li>
              <li>
                  <span class="name">La</span>
                  <span class="namesus">Lá ♯<br>Si ♭</span>
                  <span class="white" data-key="y">Y</span>
                  <span class="black" data-key="7">7</span>
              </li>
              <li>
                  <span class="name">Si</span>
                  <span class="white" data-key="u">U</span>
              </li>
              <li>
                  <span class="name">Dó</span>
                  <span class="white" data-key="b">B</span>
                  <span class="namesus">Dó ♯<br>Ré ♭</span>
                  <span class="black" data-key="h">H</span>
              </li>
              <li>
                  <span class="name">Ré</span>
                  <span class="white" data-key="n">N</span>
                  <span class="namesus">Ré ♯<br>Mi ♭</span>
                  <span class="black" data-key="j">J</span>
              </li>
              <li>
                  <span class="name">Mi</span>
                  <span class="white" data-key="m">M</span>
              </li>
              <li>
                  <span class="name">Fá</span>
                  <span class="white" data-key=",">,</span>
                  <span class="namesus">Fá ♯<br>Sol ♭</span>
                  <span class="black" data-key="l">L</span>
              </li>
              <li>
                  <span class="name">Sol</span>
                  <span class="white" data-key=".">.</span>
                  <span class="namesus">Sol ♯<br>Lá ♭</span>
                  <span class="black" data-key="ç">Ç</span>
              </li>
              <li>
                  <span class="name">Lá</span>
                  <span class="white" data-key=";">;</span>
                  <span class="namesus">Lá ♯<br>Si ♭</span>
                  <span class="black" data-key="]">]</span>
              </li>
              <li>
                  <span class="name">Si</span>
                  <span class="white" data-key="/">/</span>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <div class="ferramenta-info">
    <h1>Como Usar</h1>
    <h3>É simples, apenas aperte as as letras, números e caracteres especiais que estão nas teclas do teclado virtual.</h3>
  </div>
  </section>
  </main>
</body>
</html>
