<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-inicial">
      <div class="title">
        <h1>APLICATIVO WEB PARA AULAS DE INFORMÁTICA DO ENSINO FUNDAMENTAL</h1>
      </div>
    </div>
  </header>
  <main>
    <div>
      <form>
        <fieldset>
          <legend>Entrar</legend>
          <div class="radio-container">
            <select [(ngModel)]="tipo" (change)="onChangeTipo($event)" name="tipo">
              <option value="professor">Professor</option>
              <option value="aluno">Aluno</option>
            </select>
          </div>
          <br><br>
          <input *ngIf="tipo === 'professor'" type="email" [(ngModel)]="email" name="email" placeholder="email">
          <input *ngIf="tipo === 'aluno'" type="email" [(ngModel)]="nomeUsuario" name="nomeUsuario" placeholder="email">
          <br><br>
          <input *ngIf="tipo === 'professor'" type="password" [(ngModel)]="senha" name="senha" placeholder="senha">
          <input *ngIf="tipo === 'aluno'" type="password" [(ngModel)]="senha" name="senha" placeholder="senha">
          <br><br>
          <button type="submit" *ngIf="tipo === 'professor'" (click)="fazerLogin()">Login Professor</button>
          <button type="submit" *ngIf="tipo === 'aluno'" (click)="fazerLoginAluno()">Login Aluno</button>
          <br>
          <label>Não tem uma conta?</label>
          <a routerLink="/cadastro-professor">Cadastro</a>
        </fieldset>
      </form>
      
    </div>
  </main>
  
</body>
</html>
